<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox-title">
    <h5>Companies list</h5>
  </div>
    <div class="ibox-content">
      <div class="form-group">
        <input [(ngModel)]="queryString" (ngModelChange)="getCompaniesPage(1)" type="text" placeholder="Search for company..." class="form-control" name="top-search" id="top-search">
      </div>
      <table class="table table-hover no-margins">
        <thead>
        <tr>
          <th>Name</th>
          <th>Country</th>
          <th>Manager</th>
          <th>Employees</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <tr *ngFor="let company of companies | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }" [routerLink]="['/companies', company.ID, 'employees']" [queryParams]="{page: 1}">
          <td>{{company.name}}</td>
          <td>{{company.countryName}}</td>
          <td>{{company.managerName}}</td>
          <td>{{company.employees}}</td>
        </tr>
        </tbody>
      </table>

      <div class="paging-div dataTables_paginate paging_simple_numbers pagination">
        <pagination-controls (pageChange)="getCompaniesPage($event)"></pagination-controls>
      </div>

    </div>
</div>
